/*Global*/
body {
  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

section {
  padding: 96px 0;
}

a {
  text-decoration: none;
}

/*Splash*/
.nav-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.nav-logo {
  margin: 47px 0 0 70px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 47px 0 0 0;
}

.nav-item {
  display: inline-block;
}

.nav-item-link {
  text-decoration: none;
  line-height: 41px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-right: 40px;
  color: #ffffff;
}

.splash {
  background-image: url(../images/Background_Image.png);
  background-position: center center;
  background-size: 100% 100%;
  padding-bottom: 96px;
  margin-right: 0;
}

.splash-subtitle {
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  font-style: italic;
  margin-top: 250px;
  color: #ffffff;
}

.splash-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
  color: #ffffff;
  margin-bottom: 80px;
}

.splash-btn {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 25px 51px;
  text-transform: uppercase;
  background-color: #fed136;
  border-radius: 5px;
}

/*Services*/
.services {
  background: #ffffff;
  padding-top: 100px;
}

.section-title {
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.section-subtitle {
  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-style: italic;
  padding-top: 0;
  margin-top: 0;
}

.services-box {
  margin-top: 100px;
}

.service {
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 75px;
  margin-top: 0;
  margin-bottom: 0;
}

.services-icon-top {
  display: inline-block;
  width: 67px;
  height: 67px;
  line-height: 83px;
  border: 3px solid #fed136;
  background-color: #ffffff;
  border-radius: 50%;
}

.service-descr {
  font-weight: 400;
  line-height: 1.7;
  font-weight: 400;
  margin-top: 0;
}

/*Our portfolio*/
.portfolio {
  background: #f7f7f7;
}

.card {
  max-width: 290px;
  height: 390px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.card-image {
  max-width: 100%;
}

.card-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  max-width: 100%;
}

.card-body {
  background: #ffffff;
}

.card-body h4 {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
  margin-bottom: 0;
}

.card-body p {
  color: #737373;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-style: italic;
  margin-top: 0;
}

/*footer*/
.footer {
  background: #ffffff;
}

.footer-author {
  color: #555555;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.35px;
}

.fab {
  color: #ffffff;
  background-color: #222222;
  font-size: 16px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin-top: 21.855px;
  margin-bottom: 21.855px;
}
/*# sourceMappingURL=style.css.map */